*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    width: 100%;
    height: 70px;
    position: fixed;
    top: 0;
    background-color: #fff;
}
header .logo{
    margin-left: 200px;
    padding: 20px;
    display: flex;
}
header .logo i{
    font-size: 40px;
    color: #ff0000;
    padding-right: 10px;
}
header .logo h1{
    font-family: "Aldrich", sans-serif;
}
header .nav{
    position: absolute;
    top: 0;
    right:0;
    margin-right: 200px;
}
header .nav ul{
    list-style: none;
    display: flex;
    font-family: "Aldrich", sans-serif;
}
header .nav ul li{
    padding-right: 20px;
    padding-top: 25px;
}
header .nav ul li a{
    text-decoration: none;
    color: rgb(41, 41, 41);
    text-transform: uppercase;
    font-size: 13px;
    font-weight:bold;
}
header .nav ul li a:hover{
    color: red;
}
.s1{
    background-color: #f9f9ff;
    width: 100%;
    height: 665px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 70px;
}
.half1,.half2{
    width: 50%;
}
.half1{
    margin-left: 230px;
    margin-bottom: 120px;
}
.half1 h3{
    font-size: 15px;
    font-weight: 100;
    color: #3f3e3e;
}
.half1 h1{
    font-family: "Exo 2", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-size: 40px;
}
.half1 p{
    font-family: Arial, Helvetica, sans-serif;
    color: #a9a7a7;
    font-size: 13px;
}
.half1 input{
    background:linear-gradient(45deg,rgb(0, 76, 255),rgb(3, 98, 157),rgb(0, 165, 216));
    padding: 20px;
    color: #f9f9ff;
    outline: none;
    border: 1px solid rgb(0, 146, 172);
    font-size: 16px;
    font-family: "Bruno Ace SC", sans-serif;
    font-weight: 400;
}
.half1 input:hover{
    box-shadow: 2px 6px 9px rgba(4, 121, 154, 0.8);
    transition: all 0.25s;
    transition-timing-function: linear;
    outline: none;
}
.half2{
    margin-left: 70px;
}
.half2 img{
    width: 550px;
}
.s2{
    background-color: #f9f9ff;
    width: 100%;
    height: 665px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.s2 .half2{
    margin-left: 230px;
    margin-bottom: 120px;
}
.s2 .half1{
    margin-left: 70px;
    margin-right: 55px;
}
.s3{
    width: 100%;
    height: 665px;
    margin: 0 auto;
    text-align: center;
}
.s3 .ui h1{
    font-size: 40px;
    margin-top: 30px;
    margin-bottom: 15px;
    font-family: "Bruno Ace SC", sans-serif;
}
.s3 .ui p{
    width: 650px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: auto;
    color: #a9a5a5;
    font-size: 15px;
}
.service{
    width: 80%;
    margin: 0 auto;
}
.service1,.service2{
    width: 100%;
    height: 200px;
    overflow: hidden;
    display: flex;
    margin-top: 50px;
}
.service1 div,.service2 div{
    width: 25%;
    height: 180px;
    padding: 20px;
    margin: 0 auto;
    background:linear-gradient(45deg,rgb(0, 76, 255),rgb(3, 98, 157),rgb(0, 165, 216));
    border: 1px solid rgb(2, 175, 255);
    border-radius: 20px;
    
}
.service1 div:hover,.service2 div:hover{
    box-shadow: 4px 8px 12px rgb(54, 92, 189);
    transition: 0.3s ease-in;
}
.service1 div i,.service2 div i{
    font-size: 30px;
    margin-bottom: 20px;
    color: #fff;
}
.service1 div h1,.service2 div h1{
    font-family: "Fredericka the Great", serif;
    font-weight: 400;
    margin-bottom: 10px;
    color: #fff;
}
.service1 div p,.service2 div p{
    color: #fff;
    font-family: "Gruppo", sans-serif;
    font-weight: 400;
}
.s4{
    width: 100%;
    height: 250px;
    background:linear-gradient(45deg,rgb(0, 76, 255),rgb(3, 98, 157),rgb(0, 165, 216));
    display: flex;
    color: #fff;
    align-items: center;
    justify-content: center;
}
.s4 div{
    margin-right: 150px;
    margin-left: 150px;
}
.s4 div h1{
    font-size: 60px;
    font-family: "Coda", system-ui;
    font-weight: 500;
    text-align: center;
}
.s4 div p{
    font-size: 25px;
    text-align: center;
    font-family: "Protest Guerrilla", sans-serif;
}
.s5{
    width: 100%;
    height: 1150px;
}
.s5 .oi{
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: center;
    margin-bottom: 30px;
}
.s5 .oi .w1 h1{
    font-family: "Coda", system-ui;
    font-weight: 500;
    font-size: 40px;
}
.s5 .oi .w1 p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #818181;
}
.s5 .oi .w2{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
    list-style: none;
}
.s5 .oi .w2 ul{
    display: flex;
    list-style: none;
}
.s5 .oi .w2 ul li{
    margin-right: 15px;
    margin-left: 15px;
}
.s5 .oi .w2 ul li a{
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 10px;
    text-decoration: none;
}
.s5 .oi .w2 ul li a:hover{
    background: linear-gradient(45deg,rgb(0, 76, 255),rgb(3, 98, 157),rgb(0, 165, 216));
    color: #fff;
    border-radius: 10px;
    transition: 0.3s ease-in-out;
}
.s5 .w3{
    width: 90%;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 60px;
}
.s5 .w3 div{
    margin-left: 80px;
    margin-right: 80px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.s5 .w3 div img{
    width: 350px;
    height: 350px;
}
.s5 .w3 div img:hover{
    border-radius: 100px;
    transition: 0.3s ease-in;
}
.s5 .w3 div h1{
    text-align: center;
    margin-top: 20px;
    font-family: "Gruppo", sans-serif;
    font-weight: 800;
}
.s6{
    width: 100%;
    height: 300px;
    box-sizing: border-box;
    background:linear-gradient(45deg,rgb(0, 76, 255),rgb(3, 98, 157),rgb(0, 165, 216));
}
.s6 .s6tt{
    width: 80%;
    height: 100px;
    margin-left: 200px;
}
.s6 .s6tt .s6ll{
    padding-top: 20px;
    text-align: center;
}
.s6 .s6tt .s6ll h1{
    color: #fcfcfc;
    font-size: 35px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.s6 .s6tt .s6ll p{
    color: #f0f0f0;
}
.s6yy{
    margin-left: 40px;
    margin-top: 30px;
    display: flex;
}
.s6yy .s63{
    width: 80%;
    margin-left: 20px;
    margin-right: 20px;
    background-color: #f9f9ff;
    border-radius: 20px;
    padding: 15px;
    display: flex;
}
.s6yy .s63 .s99{
    margin-right: 10px;
}
.s63 img{
    width: 50px;
    height: 50px;
    position: relative;
    border-radius: 50%;
}
.s63 .yi{
    color: #939292;
    font-size: 15px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.s63 p{
    color: #939292;
    font-family: "Coda", system-ui;
    font-size: 15px;
}
.s63{
    color: rgb(103, 98, 198);
}
.s7{
    width: 100%;
    height: 700px;
}
.s7 .t90{
    margin-top: 30px;
    text-align: center;
}
.s7 .t90 h1{
    font-size: 40px;
    font-family: "Graduate", serif;
    font-weight: 800;
    color: rgb(67, 67, 172);
}
.s7 .t90 p{
    color: #818181;
}
.s7 .card{
    padding-top: 40px;
    display: flex;
    width: 80%;
    height: auto;
    justify-content: space-around;
    margin: 0 auto;
}
.card .yu{
    margin-left: 10px;
    margin-right: 10px;
    width: 300px;
    height: 550px;
    background-color: rgb(249,249,255);
    text-align: center;
    border: 1px solid rgba(0,0,0,0.1);
}
.card .yu h1{
    font-size: 50px;
    padding-top: 20px;
}
.card .yu h2{
    padding-top: 20px;
    padding-bottom: 20px;
}
.card .yu p{
    padding-top: 20px;
    padding-bottom: 20px;
}
.card .yu input{
    outline: none;
    background-color: #8293ff;
    color: white;
    font-size: 25px;
    padding: 6px 60px;
    font-weight: bold;
    border: 1px solid white;
    cursor: pointer;
}
.s7 .card .yu:hover{
    background: linear-gradient(45deg,rgb(0, 76, 255),rgb(3, 98, 157),rgb(0, 165, 216));
    color: white;
    transition: all 0.25s ease-in;
    transform: scale(1.05);
    border: 1px solid rgba(130,147,255,0.5);
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.1);
}
.s7 .card .yu:hover input{
    color: rgba(0, 0, 0, 0.9);
    background-color: white;
}
footer{
    background-color: rgb(4,9,30);
    width: 100%;
    height: 300px;
    position: absolute;
    color: white;
}
footer .foot{
    width: 80%;
    height: auto;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    margin-top: 100px;
}
footer .foot .foot1 p{
    color: rgba(255,255,255,0.5);
}
footer .foot .foot1 input{
    font-size: 15px;
    outline: none;
    border: none;
    padding: 10px 150px 10px 10px;
    margin-top: 5px;
    margin-right: 0px;
    border-radius: 5px 0px 0px 5px;
}
.footer .foot .foot1 .ki{
    color: #0a21ba;
    font-size: 10px;
}
footer .foot .foot1 button{
    font-size: 20px;
    color: white;
    background-color: #8293ff;
    outline: none;
    border: none;
    margin-left: 0;
    padding:5.5px 15px 7px 15px;
    cursor: pointer;
    margin-left: 0px;
    margin-right: 0px;
}
footer .foot .foot1 button:hover{
    background-color: white;
    color: #8293ff;
}
footer .foot .foot1 i{
    font-size: 15px;
    padding: 5px 5px;
    color: #f0f0f0;
}
footer .foot .foot1 i:hover{
    color: #8293ff;
}